.intro {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #370443;
	background: url(_images/purple-flower-background.jpg) center fixed;
	background-size: cover;
	box-sizing: border-box;
	height: 100vh;
	text-align: center;	
	.top-block {
		height: 10%;
		width: 80%;
		max-width: 960px;
		background: beige;
		margin: 0 auto;
		box-sizing: border-box;
		border-top: 2px solid #e7b738;
		border-right: 2px solid #e7b738;
		border-bottom: 1px solid #c7c790;
		border-left: 2px solid #e7b738;
	}
	.btm-block {
		height: 10%;
		width: 80%;
		max-width: 960px;
		background: beige;
		margin: 0 auto;
		box-sizing: border-box;
		border-top: 1px solid #c7c790;
		border-right: 2px solid #e7b738;
		border-bottom: 2px solid #e7b738;
		border-left: 2px solid #e7b738;
	}
	.intro-wrap {
		box-sizing: border-box;
		border-left: 2px solid #e7b738;
		border-right: 2px solid #e7b738;
		background: #fff;
		width: 80%;
		max-width: 960px;
		text-align: center;
		margin: 0 auto;
		padding: 40px 0px;
	}
	.info {
		width: 100%;
		max-width: 580px;
		height: 175px;
		margin: 0 auto;
		position: relative;
		img {
			width: 254px;
			height: 175px;
			float: left;
			display: inline-block;
			padding-right: 20px;
		}
		.info-txt {
			font-size: 1em;
			font-weight: normal;
			font-family: 'Lato';
			text-align: left;
			line-height: 1.2em;
			padding: 0;
			margin: 0;
			display: block;
			height: 175px;
			float: left;
			p:first-child {
				margin-top: 105px;
			}
			.fa {
				font-size: 1.2em;
				width: 10px;
				padding-right: 10px;
				color: #e7b738;
			}
		}
	}
	p.title {
		font-family: 'Tangerine';
		font-size: 8em;
		color: #3c0449;
		display: inline-block;
		text-align: center;
		width: 100%;
		position: relative;
		margin: 40px auto 35px;
	}
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		// background: rgba(29,54,48,0.1);
		background: rgba(102,51,153,0.2);
		padding: 15px;
		display: inline-block;
		li {
			display: inline;
			&:before {
				content: "\00a0\00a0\00a0\00a0\00a0 | \00a0\00a0\00a0\00a0\00a0";
			}
			&:first-child:before {
				content: "";
			}	
		}
	}
	a {
		color: inherit;
		text-decoration: none;
		padding: 12px 15px;
		border: 1px solid transparent;
		box-sizing: border-box;
		&:hover {
			text-decoration: none;
			background: rgba(255,255,255,0.8);
			color: #1d3630;
			border-bottom: 3px solid #1d3630;
		}
	}
}

@media screen and (max-width: 720px) {
.intro {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #370443;
	background: url(_images/purple-flower-background.jpg) center fixed;
	background-size: cover;
	box-sizing: border-box;
	height: auto;
	text-align: center;	
	.top-block {
		height: 50px;
		width: 100%;
		max-width: 960px;
		background: beige;
		margin: 0 auto;
		box-sizing: border-box;
		border-top: 2px solid #e7b738;
		border-right: 2px solid #e7b738;
		border-bottom: 1px solid #c7c790;
		border-left: 2px solid #e7b738;
	}
	.btm-block {
		height: 50px;
		width: 100%;
		max-width: 960px;
		background: beige;
		margin: 0 auto;
		box-sizing: border-box;
		border-top: 1px solid #c7c790;
		border-right: 2px solid #e7b738;
		border-bottom: 2px solid #e7b738;
		border-left: 2px solid #e7b738;
	}
	.intro-wrap {
		box-sizing: border-box;
		border-left: 2px solid #e7b738;
		border-right: 2px solid #e7b738;
		background: #fff;
		width: 100%;
		max-width: 960px;
		text-align: center;
		margin: 0 auto;
		padding: 40px 0px;
	}
	.info {
		width: 100%;
		max-width: 580px;
		height: 175px;
		margin: 0 auto;
		position: relative;
		img {
			width: 254px;
			height: 175px;
			float: none;
			display: inline-block;
			padding-right: 0px;
			margin: 0 auto;
		}
		.info-txt {
			font-size: 1em;
			font-weight: normal;
			font-family: 'Lato';
			text-align: left;
			line-height: 1.2em;
			padding: 0;
			width: 70%;
			max-width: 320px;
			margin: 0 auto;
			display: inline-block;
			height: 175px;
			float: none;
			p:first-child {
				margin-top: 35px;
			}
			.fa {
				font-size: 1.2em;
				width: 10px;
				padding-right: 10px;
				color: #e7b738;
			}
		}
	}
	p.title {
		font-size: 3.5em;
		color: #3c0449;
		display: inline-block;
		text-align: center;
		width: 100%;
		position: relative;
		margin: 140px 0px 35px;
	}
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		background: rgba(29,54,48,0.1);
		padding: 15px;
		display: inline-block;
		li {
			display: inline;
			&:before {
				content: "\00a0\00a0\00a0\00a0\00a0 | \00a0\00a0\00a0\00a0\00a0";
			}
			&:first-child:before {
				content: "";
			}	
		}
	}
	a {
		color: inherit;
		text-decoration: none;
		padding: 12px 15px;
		border: 1px solid transparent;
		box-sizing: border-box;
		&:hover {
			text-decoration: none;
			background: rgba(255,255,255,0.5);
			color: #1d3630;
			border-bottom: 3px solid #1d3630;
		}
	}
}
}