.our-practice {
	// height: 800px;
	// border-top: 20px solid #1d3630;
	border-top: 20px solid #fff;
	// background: linear-gradient(#d5e9d0, #aa9eb2);

	// light purple (original)
	// background: linear-gradient(#efe2ff, #d0a7ff) fixed; 

	background-color: white;
	padding-bottom: 130px;
}
.our-practice-container {
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
	padding: 0px 10px;
	box-sizing: border-box;
	h1 {
		text-align: center;
		margin-top: 120px;
		// font-weight: bold;
		color: #1d3630;
		font-size: 3em;
		font-family: Georgia, serif;
	}
	.short-txt {
		width: 33.33333333%;
		float: left;
		padding: 0px 10px;
		box-sizing: border-box;
		margin-top: 100px;
		line-height: 1.5em;
		h2 {
			font-family: Georgia, serif;
			color: #e26100;
		}
	}
	img {
		width: 100%;
		max-width: 150px;
		border-radius: 50%;
		border: 1px solid #313131;
		margin: 0px auto 60px auto;
		display: block;
		box-shadow: -3px 3px 3px 0px rgba(0,0,0,0.2);
	}
}