.our-practice {
	border-top: 20px solid #fff;
	background-color: #88d4ed;
	// background: url(_images/our-practice-bkg.jpg) center fixed;
	background-size: cover;
	padding-bottom: 130px;
}
.our-practice-container {
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
	padding: 0px;
	box-sizing: border-box;
	h1 {
		text-align: center;
		margin: 90px 0px 0px 0px;
		color: #1d3630;
		font-size: 3em;
		font-family: Georgia, serif;
	}
	.short-txt {
		width: 33.33333333%;
		float: left;
		padding: 0px 10px;
		box-sizing: border-box;
		margin-top: 100px;
		line-height: 2em;
		h2 {
			font-family: Georgia, serif;
			color: #e26100;
		}
	}
	img {
		width: 100%;
		max-width: 150px;
		border-radius: 50%;
		// border: 1px solid #313131;
		margin: 0px auto 60px auto;
		display: block;
		box-shadow: -3px 3px 3px 0px rgba(0,0,0,0.2);
	}
}

 
@media screen and (max-width: 840px) {
	.our-practice-container {
		h1 {
			text-align: center;
			padding-top: 100px;
			margin: 0 auto;
			font-size: 3em;
		}
		.short-txt {
			width: 90%;
			max-width: 520px;
			float: none;
			padding: 0px 10px;
			box-sizing: border-box;
			margin: 80px auto 0 auto;
			line-height: 2em;
		}
		img {
			width: 100%;
			max-width: 150px;
			border-radius: 50%;
			border: 1px solid #313131;
			margin: 0px auto 30px auto;
			display: block;
		}
	}
}
