/*!
Website Name: Foster Family Dental
Website URL: http://www.fosterfamilydental.com
Website Author: Robert Means
Date: January 2016
Copyright 2016. All Rights Reserved
*/
/* 
===================================================== #reset
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

body {
  line-height: 1;
  color: black;
}

ol, ul {
  list-style: none;
}

/* tables still need 'cellspacing="0"' in the markup */
caption, th, td {
  text-align: left;
  font-weight: normal;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  color: #666666;
  font-family: Tahoma, Arial, Geneva, sans-serif;
  font-size: 14px;
}

.cf:before, .cf:after {
  content: "";
  display: table;
}

.cf:after {
  clear: both;
}

/* for ie 6/7 (trigger hasLayout) */
.cf {
  zoom: 1;
}

h1 {
  font-size: 2em;
  font-weight: normal;
  color: #a6430a;
  margin: 0 0 .5em 0;
}

h2 {
  font-size: 1.7em;
  margin: 0 0 1em 0;
}

h3 {
  font-size: 1.5em;
  margin: 0 0 .5em 0;
}

p {
  margin: 0 0 .75em 0;
}

a {
  color: #aa6e0c;
}

a:hover {
  color: #009eff;
}

label {
  display: block;
  text-align: center;
  padding: 2px 12px 15px 12px;
}

p.bkg_white {
  background: #fff;
  padding: 5px;
}

p.bkg_gray {
  background: #f8f8f8;
  padding: 8px;
}

ul {
  margin-left: 15px;
}

a.hidden-link {
  color: inherit;
  text-decoration: none;
  background: inherit;
  display: inline;
}
a.hidden-link:hover {
  color: inherit;
  text-decoration: none;
  background: inherit;
}

.back-to-top {
  display: none;
  z-index: 1001;
  position: fixed;
  width: 30px;
  height: 28px;
  bottom: 0px;
  right: 50%;
  margin-right: -30px;
  text-align: center;
  background-color: rgba(80, 0, 136, 0.6);
  padding: 10px 10px 0px 10px;
  color: #fff;
  text-decoration: none;
  -webkit-border-top-left-radius: 50%;
  -webkit-border-top-right-radius: 50%;
  -moz-border-radius-topleft: 50%;
  -moz-border-radius-topright: 50%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
  box-shadow: -4px 4px 3px 0px rgba(50, 50, 50, 0.44);
  transition: background-color .3s ease;
  transition: height .2s ease;
}
.back-to-top:hover {
  background-color: #500088;
  color: #fff;
  text-decoration: none;
  height: 32px;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
}

.intro {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #370443;
  background: url(_images/purple-flower-background.jpg) center fixed;
  background-size: cover;
  box-sizing: border-box;
  height: 100vh;
  text-align: center;
}
.intro .top-block {
  height: 10%;
  width: 80%;
  max-width: 960px;
  background: beige;
  margin: 0 auto;
  box-sizing: border-box;
  border-top: 2px solid #e7b738;
  border-right: 2px solid #e7b738;
  border-bottom: 1px solid #c7c790;
  border-left: 2px solid #e7b738;
}
.intro .btm-block {
  height: 10%;
  width: 80%;
  max-width: 960px;
  background: beige;
  margin: 0 auto;
  box-sizing: border-box;
  border-top: 1px solid #c7c790;
  border-right: 2px solid #e7b738;
  border-bottom: 2px solid #e7b738;
  border-left: 2px solid #e7b738;
}
.intro .intro-wrap {
  box-sizing: border-box;
  border-left: 2px solid #e7b738;
  border-right: 2px solid #e7b738;
  background: #fff;
  width: 80%;
  max-width: 960px;
  text-align: center;
  margin: 0 auto;
  padding: 40px 0px;
}
.intro .info {
  width: 100%;
  max-width: 570px;
  height: 175px;
  margin: 0 auto;
  position: relative;
}
.intro .info img {
  width: 44.561404%;
  max-width: 254px;
  float: left;
  display: inline-block;
}
.intro .info .info-txt {
  font-size: 1em;
  font-weight: normal;
  font-family: 'Lato';
  text-align: left;
  line-height: 1.2em;
  padding: 0;
  margin: 0 0 0 3%;
  display: block;
  width: 52.438596%;
  float: left;
}
.intro .info .info-txt p:first-child {
  margin-top: 105px;
}
.intro .info .info-txt .fa {
  font-size: 1.2em;
  width: 10px;
  padding-right: 10px;
  color: #e7b738;
}
.intro .info .info-txt .tel,
.intro .info .info-txt .tel:visited,
.intro .info .info-txt .tel:focus {
  text-decoration: none;
  padding: 0;
  margin: 0;
  border: none;
  cursor: text;
}
.intro p.title {
  font-family: 'Tangerine';
  font-size: 8em;
  color: #3c0449;
  display: inline-block;
  text-align: center;
  width: 100%;
  position: relative;
  margin: 40px auto 35px;
  transition: font-size 0.5s ease;
}
.intro ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background: rgba(102, 51, 153, 0.2);
  padding: 15px;
  display: inline-block;
}
.intro ul li {
  display: inline;
}
.intro ul li:before {
  content: "\00a0\00a0\00a0\00a0\00a0 | \00a0\00a0\00a0\00a0\00a0";
}
.intro ul li:first-child:before {
  content: "";
}
.intro a {
  color: inherit;
  text-decoration: none;
  padding: 12px 15px;
  border: 1px solid transparent;
  box-sizing: border-box;
}
.intro a:hover {
  text-decoration: none;
  background: rgba(255, 255, 255, 0.8);
  color: #1d3630;
  border-bottom: 3px solid #1d3630;
}

@media screen and (max-width: 980px) {
  .intro p.title {
    font-size: 6em;
  }
}
@media screen and (max-width: 800px) {
  .intro .info {
    width: 100%;
    max-width: 545px;
  }
  .intro .info img {
    width: 38%;
    max-width: 210px;
  }
  .intro .info .info-txt {
    margin: 0 0 0 2%;
    width: 60%;
  }
  .intro .info .info-txt p:first-child {
    margin-top: 72px;
  }
  .intro p.title {
    margin: 15px auto 35px;
  }
  .intro ul li {
    display: inline;
  }
  .intro ul li:before {
    content: "\00a0\00a0\00a0 | \00a0\00a0\00a0";
  }
  .intro a {
    padding: 12px 8px;
  }
}
@media screen and (max-width: 720px) {
  .intro .top-block {
    height: 10%;
    width: 100%;
    box-sizing: border-box;
    border-top: none;
    border-right: none;
    border-left: none;
  }
  .intro .btm-block {
    height: 10%;
    width: 100%;
    border-right: none;
    border-left: none;
  }
  .intro .intro-wrap {
    border-left: none;
    border-right: none;
    width: 100%;
    padding: 0px;
  }
  .intro .info {
    margin: 0;
    max-width: 100%;
  }
  .intro .info img {
    max-width: 200px;
    margin: 0 auto;
    padding-top: 30px;
    float: none;
    display: block;
  }
  .intro .info .info-txt {
    text-align: left;
    width: 310px;
    margin: 0 auto;
    display: block;
    float: none;
  }
  .intro .info .info-txt p:first-child {
    margin-top: 20px;
  }
  .intro .info .info-txt .fa {
    font-size: 1.2em;
    width: 10px;
    padding-right: 10px;
    color: #e7b738;
  }
  .intro p.title {
    font-size: 5em;
    margin-top: 120px;
  }
}
@media screen and (max-width: 500px) {
  .intro {
    background: none;
    background-color: #370443;
  }

  .intro p.title {
    font-size: 4em;
    margin-top: 100px;
  }
}
@media screen and (max-width: 440px) {
  .intro p.title {
    font-size: 4em;
    margin-top: 80px;
  }
}
@media screen and (max-width: 400px) {
  .intro .info .info-txt {
    width: 300px;
    box-sizing: border-box;
    padding: 0px 10px;
  }
  .intro .info .info-txt .ep {
    display: inline-block;
    float: left;
    margin-bottom: 15px;
  }
  .intro p.title {
    font-size: 3.5em;
    margin-top: 55px;
  }
}
.our-practice {
  border-top: 20px solid #fff;
  background-color: white;
  background: url(_images/our-practice-bkg.jpg) center fixed;
  background-size: cover;
  padding-bottom: 130px;
}

.our-practice-container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0px;
  box-sizing: border-box;
}
.our-practice-container h1 {
  text-align: center;
  margin: 90px 0px 0px 0px;
  color: #1d3630;
  font-size: 3em;
  font-family: Georgia, serif;
}
.our-practice-container .short-txt {
  width: 33.33333333%;
  float: left;
  padding: 0px 10px;
  box-sizing: border-box;
  margin-top: 100px;
  line-height: 2em;
}
.our-practice-container .short-txt h2 {
  font-family: Georgia, serif;
  color: #e26100;
}
.our-practice-container img {
  width: 100%;
  max-width: 150px;
  border-radius: 50%;
  border: 1px solid #313131;
  margin: 0px auto 60px auto;
  display: block;
  box-shadow: -3px 3px 3px 0px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 840px) {
  .our-practice-container h1 {
    text-align: center;
    padding-top: 100px;
    margin: 0 auto;
    font-size: 3em;
  }
  .our-practice-container .short-txt {
    width: 90%;
    max-width: 520px;
    float: none;
    padding: 0px 10px;
    box-sizing: border-box;
    margin: 80px auto 0 auto;
    line-height: 2em;
  }
  .our-practice-container img {
    width: 100%;
    max-width: 150px;
    border-radius: 50%;
    border: 1px solid #313131;
    margin: 0px auto 30px auto;
    display: block;
  }
}
.our-staff {
  box-sizing: border-box;
  border-top: 20px solid #3c0449;
  line-height: 2em;
  background: linear-gradient(#f1deab, #e7b738) fixed;
  padding-bottom: 120px;
}
.our-staff .staff-wrap {
  width: 95%;
  max-width: 1280px;
  margin: 0 auto;
}
.our-staff h1 {
  text-align: center;
  margin: 90px 0px 100px 0px;
  color: #3c0449;
  font-size: 3em;
  font-family: Georgia, serif;
}
.our-staff img {
  display: inline-block;
  float: left;
  width: 100%;
  max-width: 250px;
  margin: 0px 15px 15px 0px;
}
.our-staff .staff01 {
  box-sizing: border-box;
  width: 47.5%;
  max-width: 630px;
  float: left;
  margin-right: 2.5%;
}
.our-staff .staff02 {
  box-sizing: border-box;
  width: 47.5%;
  max-width: 630px;
  float: right;
  margin-left: 2.5%;
}

@media screen and (max-width: 1175px) {
  .our-staff .staff-wrap {
    width: 95%;
    max-width: 1280px;
    margin: 0 auto;
  }
  .our-staff h1 {
    text-align: center;
    margin: 100px 0px 110px 0px;
    color: #3c0449;
    font-size: 3em;
    font-family: Georgia, serif;
  }
  .our-staff img {
    display: block;
    float: none;
    width: 100%;
    max-width: 250px;
    margin: 0px auto 15px auto;
  }
  .our-staff .staff01 {
    box-sizing: border-box;
    width: 47.5%;
    max-width: 630px;
    float: left;
    margin-right: 2.5%;
  }
  .our-staff .staff01 h3 {
    display: block;
    float: none;
    margin: 1em auto;
    clear: both;
    font-size: 2em;
  }
  .our-staff .staff01 p {
    float: left;
  }
  .our-staff .staff02 {
    box-sizing: border-box;
    width: 47.5%;
    max-width: 630px;
    float: right;
    margin-left: 2.5%;
  }
  .our-staff .staff02 h3 {
    display: block;
    float: none;
    margin: 1em auto;
    clear: both;
    font-size: 2em;
  }
  .our-staff .staff02 p {
    float: left;
  }
}
@media screen and (max-width: 840px) {
  .our-staff {
    box-sizing: border-box;
    border-top: 20px solid #3c0449;
    line-height: 2em;
    background: linear-gradient(#f1deab, #e7b738) fixed;
    padding-bottom: 120px;
  }
  .our-staff .staff-wrap {
    width: 95%;
    max-width: 570px;
    margin: 0 auto;
  }
  .our-staff h1 {
    text-align: center;
    margin: 120px 0px 100px 0px;
    color: #3c0449;
    font-size: 3em;
    font-family: Georgia, serif;
  }
  .our-staff img {
    display: block;
    float: left;
    width: 100%;
    max-width: 250px;
    margin: 0px auto 15px auto;
  }
  .our-staff .staff01 {
    box-sizing: border-box;
    width: 100%;
    max-width: 770px;
    float: none;
    margin: 0 auto;
  }
  .our-staff .staff01 h3 {
    display: block;
    float: none;
    margin: 1em auto;
    clear: both;
    font-size: 2em;
  }
  .our-staff .staff01 p {
    float: left;
  }
  .our-staff .staff02 {
    box-sizing: border-box;
    width: 100%;
    max-width: 770px;
    float: none;
    margin: 0 auto;
  }
  .our-staff .staff02 h3 {
    display: block;
    float: none;
    margin: 1em auto;
    clear: both;
    font-size: 2em;
  }
  .our-staff .staff02 p {
    float: left;
  }
}
.contact-section {
  border-top: 20px solid #fff;
  background: linear-gradient(#1a836a, #1d3630) fixed;
  padding-bottom: 100px;
}
.contact-section h1 {
  text-align: center;
  margin-top: 120px;
  color: #e7b738;
  font-size: 3em;
  font-family: Georgia, serif;
}

.contact-form {
  text-align: left;
  display: block;
  width: 100%;
  max-width: 800px;
  height: auto;
  margin: 100px auto 0px auto;
  box-sizing: border-box;
  color: #fff;
}
.contact-form form {
  width: 100%;
  max-width: 800px;
}
.contact-form label {
  display: block;
  line-height: 1em;
  margin-bottom: 5px;
  text-align: left;
  padding: 1px 0px 5px 0px;
}
.contact-form input#name, .contact-form input#email {
  width: 200px;
  margin-bottom: 10px;
  height: 1.2em;
}
.contact-form textarea#comments {
  width: 90%;
  max-width: 800px;
  height: 180px;
  margin-bottom: 15px;
}
.contact-form input#send {
  font-size: 1.6em;
  padding: 10px 25px;
  background: #858585;
  border: 1px solid #fff;
  margin-bottom: 30px;
  color: #fff;
  max-width: 70px;
  text-align: center;
}
.contact-form input#send:hover {
  background: #565656;
  cursor: pointer;
}

footer {
  border-top: 5px solid #e7b738;
  background: #e8e8e8;
  color: #1d3630;
  padding-bottom: 600px;
}

footer .our-practice-container .short-txt {
  margin-top: 50px;
}
footer .our-practice-container .short-txt h2 {
  padding-bottom: 8px;
  border-bottom: 2px solid #313131;
  font-family: Georgia, serif;
}
footer .our-practice-container .short-txt img {
  max-width: 325px;
  border: 2px solid #fff;
  border-radius: 0;
  box-shadow: none;
  margin: 0;
  vertical-align: middle;
  display: inline-block;
}
footer .our-practice-container .short-txt img.ada {
  width: 100%;
  max-width: 150px;
  border: none;
  vertical-align: middle;
}
footer .our-practice-container .short-txt img.imgpad {
  margin-right: 30px;
}
footer .our-practice-container .short-txt a.feetster {
  color: #0000ff;
  text-decoration: none;
}
footer .our-practice-container .short-txt a.feetster:hover {
  text-decoration: underline;
}

nav#menu {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 4em;
  box-sizing: border-box;
  text-align: center;
  display: none;
  background-color: rgba(128, 102, 172, 0.9);
  border-bottom: 1px solid purple;
  color: #fff;
}
nav#menu ul {
  line-height: 4em;
  list-style: none;
  margin: 0;
  padding-left: 0;
}
nav#menu ul img {
  margin-bottom: -.9em;
}
nav#menu ul ul {
  position: absolute;
  left: -9999px;
  z-index: 99999;
  line-height: 3em;
  float: left;
  padding: 0;
  background-color: rgba(128, 102, 172, 0.9);
}
nav#menu ul ul ul {
  left: -999em;
  top: 0;
}
nav#menu ul ul li:hover > ul, nav#menu ul ul li.focus > ul {
  left: 100%;
}
nav#menu ul ul a {
  width: 200px;
  margin: 0px;
  padding: 0px 0px 0px 20px;
  border-bottom: 1px solid white;
  text-align: left;
  line-height: 3em;
}
nav#menu ul ul a:hover,
nav#menu ul ul a.focus {
  background-color: purple;
}
nav#menu ul li:hover > ul,
nav#menu ul li.focus > ul {
  left: 0px;
}
nav#menu li {
  display: inline;
  float: none;
  position: relative;
}
nav#menu a {
  display: inline-block;
  box-sizing: border-box;
  padding: 0px 20px;
  text-decoration: none;
  color: #fff;
  transition: background-color .3s ease;
}
nav#menu a:hover, nav#menu a.focus {
  background-color: rgba(80, 0, 136, 0.9);
}
nav#menu a.active {
  background-color: rgba(80, 0, 136, 0.3);
  cursor: default;
  border-sizing: border-box;
}
nav#menu a.no-active {
  background-color: inherit;
}
nav#menu a.no-active:hover, nav#menu a.no-active.focus {
  background-color: rgba(80, 0, 136, 0.9);
}

nav#menu ul ul a.nb {
  border-bottom: none;
}

@media screen and (max-width: 720px) {
  ul#intro-menu {
    display: none;
  }
}
@media screen and (min-width: 721px) {
  nav#mobile {
    display: none;
  }
}
@media screen and (max-width: 720px) {
  nav#mobile {
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 9998;
    background-color: #3d2468;
    box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.3);
    display: block;
  }
  nav#mobile ul.mobile-scroll {
    height: 400px;
    overflow-y: scroll;
  }

  /*
  Top black bar that holds the toggle button
  */
  nav#mobile #toggle-bar {
    line-height: 70px;
    height: 70px;
  }
  nav#mobile #toggle-bar a {
    color: #fff;
    text-decoration: none;
  }

  /*
  Toggle button #1 ("Menu")
  */
  nav#mobile strong a {
    margin-left: 30px;
    border: 1px solid #444;
    padding: 10px;
  }

  ul#mobile-menu {
    margin-left: 5px;
  }

  /*
  Toggle button #2 ("Navicon")
  */
  nav#mobile .navicon {
    float: right;
    padding: 0 20px;
    font-size: 2em;
  }

  /*
  The dropdown menu
  */
  nav#mobile ul li {
    clear: both;
    list-style: none;
  }

  nav#mobile ul li a {
    display: block;
    background-color: #634b8c;
    text-transform: uppercase;
    letter-spacing: .2em;
    margin: 2px 0;
    line-height: 2em;
    padding: 10px 10px  10px 8px;
    color: #fff;
    text-decoration: none;
  }

  nav#mobile ul ul {
    font-size: small;
  }

  nav#mobile ul ul li {
    margin-left: 30px;
  }

  nav#mobile ul ul a {
    background-color: #8f75bb;
    padding-left: 8px;
  }

  nav#mobile ul ul a:before {
    content: ">";
    padding-right: 8px;
  }
}
.service-link {
  cursor: default;
}

nav#menu a.home-img:hover,
nav#menu a.home-img.focus,
nav#service-menu a.home-img:hover,
nav#service-menu a.home-img.focus {
  background-color: inherit;
}
