body {
  color: #666666;
  font-family: Tahoma, Arial, Geneva, sans-serif;
  font-size: 14px;
}
.cf:before, .cf:after {
  content:"";
  display: table;
}
.cf:after {
  clear: both;
}
/* for ie 6/7 (trigger hasLayout) */
.cf {
  zoom: 1;
}

h1 { 
  font-size: 2em; 
  font-weight: normal; 
  color: #a6430a; 
  margin: 0 0 .5em 0; 
}
h2 { 
  font-size: 1.7em;
  margin: 0 0 1em 0; 
}
h3 { 
  font-size: 1.5em; 
  margin: 0 0 .5em 0;
}
p { 
  margin: 0 0 .75em 0; 
}
a { 
  color: #aa6e0c; 
}
a:hover { 
  color: #009eff; 
}
label { 
  display: block;
  text-align: center; 
  padding: 2px 12px 15px 12px; 
}
p.bkg_white {
  background: #fff;
  padding: 5px; 
}
p.bkg_gray {
  background: #f8f8f8;
  padding: 8px; 
}
ul {
  margin-left: 15px;  
}

a.hidden-link {
  color: inherit;
  text-decoration: none;
  background: inherit;
  display: inline;
  &:hover {
    color: inherit;
    text-decoration: none;
    background: inherit;
  }
}





