body {
	font-size: 16px;
	// color: #757575;
	color: #757575;
	font-family: Calibri, Tahoma, Arial;
	// background-color: #e2bd20;
	background-color: #fff;
	// background-color: #9878bb;
}
h1, h2, h3, h4, h5 {
	display: block;
	font-family: 'Lora', Times New Roman;
}
p {
	display: block;
	line-height: 1.2em;
	font-size: 1.2em;
	margin: 1em 0;
}
#wrapper {
	position: relative;
	width: 90%;
	max-width: 1100px;
	margin: 0 auto;
	padding: 0 5%;
}
#wrapper img {
	width: 100%;
	max-width: 175px;
}
